<!DOCTYPE html>
<html>
<head>
    <title>Parse key into Parabot</title>
</head>
<body>

<label for="oauth-keys">Key</label>
<br/>
<input id="oauth-keys" value="{{ key }}">
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
<script>
    (function () {
        new Clipboard('#copy-button');
    })();
</script>
</body>
</html>